h1{
 font-size: 100px;
 font-family:Arial, Helvetica, sans-serif;
 color: rgba(112, 167, 225, 0.879)
}
h2{
 font-size:50px ;
 font-family:Arial, Helvetica, sans-serif;
 color: rgb(67, 51, 194)
}
h4{
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(67, 51, 194)
}

h5{
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(67, 51, 194)
}